@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

/* ROOT VARIABLES */

:root {
  --main-bg-color: #f9fcff;
  --box-shadow-color: #e9edfc;
  --white: #fff;
  --black: #232123;
  --disable-color: #d1d0d1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}

.header {
  width: 100%;
  height: 64px;
  padding: 16px;
}
.header .home{
   font-size: 20px;
   box-shadow: 5px 5px 5px var(--box-shadow-color);
   padding: 16px;
   border-radius: 16px;
   position: absolute;
   margin-left: 120px;
}

.countPrice {
  float: right;
  width: 250px;
  margin-right: 164px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.container .count {
  font-size: 24px;
  font-weight: 600;
  background-color: var(--white);
  box-shadow: 5px 5px 5px var(--box-shadow-color);

  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .price {
  font-size: 24px;
  font-weight: 500;
}

.mainCotaner {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px var(--box-shadow-color);
  margin: 32px;
}
.category:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: transform 0.3s ease-out;
}

.categoryName {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.mainCategoryCotaner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding-top: 140px;
  padding-bottom: 140px;
}
.container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container1 h2 {
  font-size: 28px;
  margin-top: -20px;
  margin-bottom: 40px;
  padding-left: 20px;
}
.mainCategoryCotaner .filters {
  flex: 3;
  padding: 64px 96px;
  border-right: 1px solid var(--disable-color);
  box-sizing: border-box;
}

.mainCategoryCotaner .products {
  width: 100%;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.productContainer {
  width: 250px;
  box-shadow: 5px 5px 5px var(--box-shadow-color);
  border-radius: 18px;
  padding: 16px;
  background-color: var(--white);
  margin: 10px;
}

.productContainer .imgContainer {
  width: 100%;
}

.imgContainer img {
  width: 100%;
  height: 150px;
  border-radius: 0px 0px 10px 10px;
}

.productDetails {
  margin: 0px;
}
.productDetails .name {
  margin: 4px auto;
  font-weight: 500;
}
.productDetails .price {
  margin: 4px auto;
  font-weight: 700;
}

.productDetails .stock {
  margin: 4px auto;
  font-size: 14px;
  font-weight: 600;
}

.productDetails .addtocard {
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.active-btn {
  background-color: var(--black);
  cursor: pointer;
}

.inactive-btn {
  background-color: rgb(216, 215, 215);
  cursor: not-allowed;
}

.text-green {
  color: green;
}
.text-red {
  color: rgb(255, 108, 108);
}

.mainCheckoutPage {
  width: 50%;
  margin: auto;
  box-shadow: 5px 5px 3px 10px var(--box-shadow-color);
  border-radius: 20px;
  padding: 64px;
  margin-top: 64px;
}

.headings {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  margin-bottom: 16px;
}

.headings p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.cross {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross:hover {
  color: red;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.checkoutCard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  border-bottom: 1px solid var(--black);
}
.checkoutCard img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity p {
  margin: 0px 10px;
  font-size: 14px;
  font-weight: 600;
}

.add,
.sub {
  font-size: 20px;
  cursor: pointer;
}

.add:hover {
  color: green;
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.sub:hover {
  color: rgb(255, 80, 80);
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.reset {
  padding: 10px 32px;
  background-color: var(--white);
  border: 0px;
  box-shadow: 5px 5px 5px var(--box-shadow-color);
  border-radius: 10px;
}

.reset:hover {
   border: 2px solid rgb(255, 100, 100);
   box-sizing: border-box;
}


@media screen and (max-width: 480px) {
  .mainCategoryCotaner {
    flex-direction: column;
    padding-top: 0px;
  }
}

